#p{
    font-size: 15px;
    font-family: Arial;
}
#o{
    font-size: 40px;
    font-family:Georgia;
}
#i{
    font-size: 23px;
    font-family:serif;
}
#u{
    font-size: 27px;
    font-family: Impact;
}
#y{
    font-size: 32px;
    font-family:Times;
}